:root {
  --main-text-colour: #212121;
  --second-text-colour:#FFFFFF;
  --button-text-colour: #2196F3;
  --article-text-colour:#757575;
  --secondary-background-colour: #2F303A;
  --color-rgba: rgba(255, 255, 255, 0.6);
  --button-backgroud-colour: #F5F4FA;
  --filter-border-colour: #EEEEEE;
  --clients-border-colour:#AFB1B8;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.adflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--second-text-colour);
  color: var(--main-text-colour);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.pointing:hover, .pointing:focus {
  color: var(--button-text-colour);
}

.current {
  color: var(--button-text-colour);
}

.current::after {
  position: absolute;
  bottom: -35px;
  right: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--button-text-colour);
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.auth__item {
  margin-right: 50px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigat, .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.auth {
  margin-left: auto;
}

.header-portfolio__link, .header-contact__link, .header-studio__link {
  display: block;
}

.navigat a {
  color: var(--main-text-colour);
}

.auth__link, .auth-phone__link {
  display: block;
  color: var(--article-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigat .header-studio__link:hover, .navigat .header-studio__link:focus {
  color: var(--button-text-colour);
}

.navigat .header-studio__link.current {
  color: var(--button-text-colour);
}

.navigat .header-portfolio__link.current {
  color: var(--button-text-colour);
}

.header-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__item {
  margin-right: 50px;
}

.header-studio__link, .header-portfolio__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigat__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.36;
  text-decoration: none;
  display: block;
  margin-right: 93px;
  color: var(--main-text-colour);
}

.navigat__icon {
  color: var(--button-text-colour);
}

.auth__link, .auth-phone__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-phone__link:hover .icon-phone {
  fill: var(--button-text-colour);
}

.auth__link:hover .icon-email {
  fill: var(--button-text-colour);
}

.icon-email, .icon-phone {
  margin-right: 10px;
  fill: var(--article-text-colour);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.li-phone:hover {
  fill: var(--button-text-colour);
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-background-colour);
  max-width: 1600px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-min.jpg);
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-min.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--second-text-colour);
  margin-bottom: 30px;
}

.hero__button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--button-text-colour);
  color: var(--second-text-colour);
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 216px;
  min-height: 50px;
  cursor: pointer;
  border: none;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item {
  width: 270px;
}

.features__block {
  width: 270px;
  height: 120px;
  background-color: var(--button-backgroud-colour);
  margin-bottom: 30px;
  border-radius: 4px;
  padding-top: 25px;
  text-align: center;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: var(--main-text-colour);
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 10px;
  color: var(--article-text-colour);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 2;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  background-color: var(--second-text-colour);
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  fill: #2196F3;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .input-icon {
  fill: rgb(33, 150, 243);
}

.modal-form-input:hover, .modal-form-input:focus {
  border-color: #2196F3;
  outline: none;
}

.modal-title {
  color: var(--main-text-colour);
  font-size: 20px;
  line-height: 23px;
  line-height: 0.05;
  text-align: center;
  margin-bottom: 12px;
}

.label-data {
  display: block;
  margin-bottom: 4px;
  color: var(--article-text-colour);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.input-wraper {
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--main-text-colour);
}

.modal-textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-textarea:focus {
  border: 1px solid rgb(33, 150, 243);
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(33, 150, 243, 1);
  transition: border 250ms cubic-bezier(33, 150, 243, 1);
}

.agree-link {
  text-decoration: underline;
  color: rgb(33, 150, 243);
  font-size: 14px;
  line-height: 1.7;
  margin-left: 5px;
}

.input-line-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-modal {
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  background-color: white;
  cursor: pointer;
}

.close-icon:hover {
  stroke: #2196F3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox .checkbox-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-checkbox .checkbox-svg {
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-field input:checked + .form-checkbox .checkbox-agree {
  background-color: #2196F3;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send {
  display: block;
  width: 200px;
  height: 50px;
  color: var(--second-text-colour);
  background-color: var(--button-text-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0;
  margin-left: 125px;
  margin-top: 30px;
}

.about {
  padding-bottom: 94px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  color: var(--main-text-colour);
}

.about-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.about-img:last-child {
  margin-right: 0;
}

.about-overlay {
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-description {
  position: absolute;
  bottom: 27px;
  left: 107px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: var(--second-text-colour);
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--button-backgroud-colour);
}

.team > ul {
  margin: 0;
  padding: 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
  color: var(--main-text-colour);
}

.team-list {
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list:last-child {
  margin-right: 0;
}

.team-imges {
  display: block;
}

.about-employees {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
  color: var(--main-text-colour);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: 0px;
  margin: 0;
  color: var(--article-text-colour);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  margin-right: 10px;
  margin-top: 16px;
}

.social-link {
  fill: var(--clients-border-colour);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:last-child {
  margin-right: 0;
}

.social-link:hover {
  background-color: var(--button-text-colour);
  fill: var(--second-text-colour);
}

.social-item {
  margin-right: 10px;
  margin-top: 16px;
}

.title-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
}

.ul-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-bottom: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-clients {
  padding: 16px 32px;
  border: 1px solid var(--clients-border-colour);
  border-radius: 4px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-clients:not(:last-child) {
  margin-right: 30px;
}

.link-clients {
  fill: var(--clients-border-colour);
  width: 106px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-clients .link-clients:hover .client-icon {
  fill: var(--button-text-colour);
}

.item-clients:hover, .item-clients:focus {
  border: 1px solid var(--button-text-colour);
}

.client-icon {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.web-foot {
  background-color: var(--secondary-background-colour);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot-link {
  color: var(--second-text-colour);
}

.foot-adress {
  color: var(--second-text-colour);
}

.foot-email, .foot-phone {
  color: var(--color-rgba);
}

.foot-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.foot-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 0;
}

.li-foot-adress, .li-foot-email {
  margin-bottom: 9px;
}

.foot-social-links {
  margin-left: 72px;
  padding-top: 12px;
}

.foot-title {
  color: var(--second-text-colour);
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
}

.foot-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  color: var(--second-text-colour);
}

.foot-logo {
  color: var(--button-text-colour);
}

.foot-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot-social-item {
  margin-right: 10px;
}

.foot-social-link {
  fill: var(--second-text-colour);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-item:last-child {
  margin-right: 0;
}

.foot-social-link:hover, .foot-social-link:focus {
  background-color: var(--button-text-colour);
}

.foot-email-form {
  margin-left: 110px;
}

.foot-title-email {
  color: var(--second-text-colour);
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 12px;
}

.foot-input {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-background-colour);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
}

.foot-subscibe-button {
  width: 200px;
  height: 50px;
  color: var(--second-text-colour);
  background-color: var(--button-text-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.875;
  margin: 0;
}

.block-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.but-text {
  margin-right: 10px;
  font-size: 16px;
  line-height: 1.875;
}

.filter-button {
  background-color: var(--button-backgroud-colour);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  cursor: pointer;
  border: none;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:focus, .filter-button:hover {
  background-color: var(--button-text-colour);
  color: var(--second-text-colour);
}

.filter-main {
  padding-bottom: 50px;
  padding-top: 94px;
}

.filter-page {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-item {
  margin-right: 8px;
  display: inline-block;
}

.filter-item:last-child {
  margin-right: 0;
}

.samples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 94px;
}

.samples-title, .samples-text {
  margin: 0;
}

.block-sample {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.block-sample:nth-child(3n) {
  margin-right: 0;
}

.block-sample:nth-child(n+7) {
  margin-bottom: 0;
}

.samples-title {
  color: var(--main-text-colour);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.samples-text {
  color: var(--article-text-colour);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.about-blocks {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  width: 370px;
}

.about-blocks {
  border: 1px solid var(--filter-border-colour);
}

.block-sample:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.block-sample {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 28px;
}

.rekurs {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--second-text-colour);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.54px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.samples li:focus .overlay,
.samples li:hover .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.overlay p {
  margin: auto;
}/*# sourceMappingURL=main.css.map */