.foot-link{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    color: var(--second-text-colour);
    }



.site-footer__logo{color: var(--button-text-colour);}
