.foot-social__list{
  display: flex; 
  justify-content: center; } 
       
.foot-social__item{ 
  margin-right: 10px;  }
.foot-social__item:last-child{
  margin-right: 0; }

.foot-social__link{
    fill: var(--second-text-colour);
     width: 44px;
    height: 44px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
     display: flex;
      align-items: center; 
      justify-content: center;
      transition-property: all; 
      transition-duration: 250ms;
      transition-timing-function: 
      cubic-bezier(0.4, 0, 0.2, 1);
    }




.foot-social__link:hover, .foot-social__link:focus {background-color:var(--button-text-colour) ;}

