.filter{
    padding-bottom: 50px;
    padding-top: 94px; }

.filter__list{justify-content: center; display: flex;}

.filter__item{margin-right: 8px; display: inline-block; }


.filter-item:last-child{margin-right: 0;} 

