.filter-main{
    padding-bottom: 50px;
    padding-top: 94px; }

.filter-page{justify-content: center;}

.filter-item{margin-right: 8px; display: inline-block; }


.filter-item:last-child{margin-right: 0;} 